.about {
  width: 100%;
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-block: 40px;
  color: var(--soft-white);
}

.bio {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 1.5rem;
}

.bio span {
  font-weight: bold;
  color: #72D0D0;
}

.bio strong {
  font-weight: bold;
  color: #72D0D0;
}

.bio img {
  max-width: 100%;
  width: 300px;
  border-radius: 9999px;
  border: 1px solid var(--gray);
  padding: 1rem;
}

.text_about, h2, p {
  margin-bottom: 1rem;
}

.text_about p {
  text-align: justify;
}

.techs {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.icons_techs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.icons_techs img {
  width: 70px;
}

/* BREAKPOINT */
@media (max-width: 768px) {
  .bio {
    flex-direction: column;
    padding-inline: 20px;
    gap: 1rem;
  }

  .bio img {
    max-width: 50%;
  }
}

@media (max-width: 480px) {
  .icons_techs {
    gap: 0.5rem;
  }

  .icons_techs img {
    height: 40px;
  }
}
