.project h2 {
  color: var(--300);
  text-align: center;
}

.list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.825rem;
  margin-block: 1.125rem;
  flex-wrap: wrap;
}