:root {
  font-family: 'Poppins', sans-serif;;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --white: #fefefe;
  --soft-white: #f1f1f1;
  --black: #0f0f0f;
  --gray: #2A2A2A;
  --yellow: #ffc300;
  
    --300: #dec2e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  background-image: linear-gradient(to right bottom, #331c52, #8121d0, #291c3a);
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #8121d0;
  border: 5px solid #8121d0;
}

::-webkit-scrollbar-thumb {
  background-color: var(--300);
  border: 2px solid var(--300);
}