:root {
  font-family: 'Poppins', sans-serif;;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary: #83498c;
  --white: #fefefe;
  --soft-white: #f1f1f1;
  --black: #0f0f0f;
  --gray: #2A2A2A;

    --50: #fbf7fc;
    --100: #f6eff8;
    --200: #ecddf1;
    --300: #dec2e5;
    --400: #ca9dd5;
    --500: #b376bf;
    --600: #9757a2;
    --700: #83498c;
    --800: #683a6e;
    --900: #57345b;
    --950: #361939;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  background-image: linear-gradient(to right bottom, #7731df, #ac38e2, #4a2cdd);
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #4a2cdd;
  border: 5px solid #4a2cdd;
}

::-webkit-scrollbar-thumb {
  background-color: var(--300);
  /* border-radius: 40px; */
  border: 2px solid var(--300);
}